
body {
font-family: Arial, sans-serif;
}

.bord{
padding: 10px;
}

.menu {
display: flex;
justify-content: space-between;
padding: 10px;
background-color: #19ba72;
}

.bord1{
padding: 10px;
border:1px solid  rgb(68, 7, 159);
}
.bord2{
padding: 10px;
border:1px solid rgb(70, 7, 101);
}
.bord3{
padding: 10px;
border:1px solid rgb(68, 7, 159);
}
.bord4{
padding: 10px;
border:1px solid  rgb(68, 7, 159);
}
.menu{
background-color:rgb(117, 172, 21);
}
.menu a {
color: black;
text-decoration: none;
}

.container{
    display: flex;
}
.section {
float: left;
margin: 19px;
text-align: left;
display: flex;
align-items: center;
}

.section img {
width: 470px;
}	

.container{
    display: flex;
}
.box {
    float: left; /* Position the divs next to each other */
    width: 270px; /* Reduced width to accomodate margin */
    height: 100px; /* Set a height for the divs */
    margin: 1%; /* Add margin between each box */
    text-align: center; /* Center the text and image within each box */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.box img {
    width: 70%; /* Set a width for the images */
    margin-top: 10px; /* Add margin to position the image centrally within the box */
}


.socialmedia img {
    margin-bottom: 2px; /* Add margin to position the image centrally within the box */
    width: 120px; /* Set a width for the images */
}

.socialmedia p {
    margin-bottom: 2px; /* Add margin to position the image centrally within the box */
    width: 120px; /* Set a width for the images */
}

#skills h2{
justify-items: left;
}


